<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAll">
    <test name="case1">
        <classes>
            <class name="vn.ducmai.core.test.RoleTest"></class>
            <class name="vn.ducmai.core.test.LoginTest"></class>
            <class name="vn.ducmai.core.test.ListenGuidelineTest"></class>
        </classes>
    </test>
</suite>